.board__wrapper {
	height: 75vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

.board {
	display: grid;
	grid-template-columns: repeat(48, 1fr);
	grid-template-rows: repeat(24, 1fr);
	grid-gap: 0rem;
	margin-bottom: 1rem;
}

.node {
	max-height: 28px;
	max-width: 28px;
	width: 1.6vw;
	height: 1.6vw;
	outline: 0.2px solid #1f253a;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.wall {
	background-color: #1f253a;
	// animation: wall 0.1s ease-in-out 0s forwards;
}

@keyframes wall {
	0% {
		border-radius: 50%;
		transform: scale(0.6);
	}

	50% {
		transform: scale(1.2);
	}

	100% {
		border-radius: 0;
		transform: scale(1);
	}
}
